* {
    margin: 0;
    padding: 0;
    border: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #030303;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #1b1f1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*#navbar {
  background-color: #1b1f1f;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}*/

nav ul {
    display: flex;
    justify-items: center;
}

nav ul li {
    list-style: none;
    margin: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(157, 105, 207);
    font-size: 1.03rem;

}

.left {
    font-size: 1.8rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
}

.firstsection>div {
    width: 38%;
}

.leftsection {
    font-size: 2rem;
    padding-left: 30px;
}

.leftsection .btn {
    padding: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    background-color: #1b1f1f;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.leftsection .button {
    padding: 50px 0;
}

.rightsection img {
    width: 400px;
}

.purple {
    color: rgb(157, 105, 207);
}

#element {
    color: rgb(157, 105, 207);
}

.about {
    margin: 70px 140px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1 img {
    width: 400px;
    border-radius: 50%;
}

.col2 h1 {
    font-size: 2rem;
}

.col2 {
    flex-basis: 50%;
    padding: 10px;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
}

main hr {
    border: 0;
    background: rgb(157, 105, 207);
    height: 2px;
}

.secondsection h1 {
    font-size: 2rem;
    margin: 10px 10px;
}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 0.8px;
    margin: 70px 0;
    display: flex;
}

.secondsection .vertical {
    height: 40px;
    width: 1px;
    background-color: white;
    margin-right: 380px;
}

.icon {
    font-size: 30px;
    margin: 10px;
    color: rgb(157, 105, 207);
    position: relative;
    top: -50px;
    left: -5px;
}

.verticaltitle {
    position: relative;
    width: 340px;
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(217, 170, 255);
}

.verticaldesc {
    width: 330px;
    font-size: 1.1rem;
}

.thirdsection {
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 10px 70px;
}

.thirdsection h1 {
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.thirdsection img {
    height: 135px;
    width: 135px;
    border-radius: 50%;
}

.thirdsection img:active {
    height: 90px;
    width: 90px;
}

  .show {
    opacity: 1;
    display: block;
    transition: .5s ease;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
  }
  
  .skills:hover .show {
    opacity: 0.3;
  }
  
  .skills:hover .middle {
    opacity: 1;
  }
  
  .hidden {
    color: white;
  }

.internship {
    justify-content: space-around;
    margin: 50px;
    padding: 50px;
    align-items: center;
    margin-bottom: 0%;
}

.int {
    display: flex;
    margin: 30px;
    margin-bottom: 0%;
}

.int>div {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #141616;
    border-radius: 20px;
    padding:40px;
    margin: 10px;
}

.internship h1 {
    font-size: 2rem;
    
}

.internship h3 {
    color: rgb(217, 170, 255);
    font-size: 1.5rem;
}

.fourthsection {
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0px 70px 30px 70px;
}

.fourthsection h1 {
    font-size: 2rem;
}

.fourthsection h3{
    color:rgb(217, 170, 255) ;
    font-weight: 600px;
    margin: 5px 0;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex: 1 2px;
    justify-content: center;
    padding: 10px;
}

.box1 {
    width: 430px;
    height: 400px;
    background-color: #1b1f1f;
    margin: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 10px solid #1b1f1f;
    /*overflow:auto;*/
}

.layer {
    display: block;
    margin: 0 5px 0 5px;
    font-size: 0.9rem;
}

.fifthsection {
    margin: 20px 135px;
}

.fifthsection h1 {
    font-size: 2rem;
}

.socialicons {
    font-size: 37px;
}

.contact {
    display: flex;
}
.contactleft {
    flex-basis: 35%;  
}

.contactleft p {
    font-size: large;
    margin: 10px 0;
}

.contactright {
    flex-flow: 40%;
    flex-basis: 60%; 
    align-items: center;
    justify-content: center;
}

.contactright {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color:#1b1f1f;
    padding: 15px;
    margin: 15px 0;
    color: white;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
}

.contactright .btn {
    padding: 10px;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    background-color: #1b1f1f;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
